:root{
    --white-color:#fff;
    --black-color:#000;
    --primary-color: rgb(255, 195, 0);
    --text-color:#bcbcbc;
    --secord--text:#7d8997;
    --secord--color:#e6ff00;
    --backgroud-color:#171326;
    --product__link-height:150px;
    --product__btn-height:100px;
    --product__container-height:calc(2900px-(var(--product__link-height)+var(--product__btn-height)));
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.scale__ho:hover{
    padding: 5px 10px ;
    background-color: var(--secord-color);
    color: var(--white-color);
    transition: .5s;
    text-decoration: none;
    border-top-right-radius:20px; 
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@keyframes scroll {
    from{
        opacity: 0;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(2%);
    }
    
}

/* banner */
.manual__btn:not(:last-child){
    margin-right: 40px;
}
.manual__btn:hover{
    background: var(--primary-color);
}
#radio1:checked ~.frist{
    margin-left: 0;
}
#radio2:checked ~.frist{
    margin-left: -20%;
}
#radio3:checked ~.frist{
    margin-left: -40%;
}

.container-height{
    width: 100%;
    height: 2900px;
}