@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700&display=swap');
.row{
    padding-top: 20px;
}
.header__navbar {
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 70px 0 0;
    list-style: none;
}
.header__top{
    background-color: var(--white-color);
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    height: 150px;
    width: 150px;
    margin-top: 2% ;
    margin-left: 10px;
}
.header__logo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.header__nav {
    width: 75%;
}
.header__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}
.header__list li {
    font-weight: 600;
    font-size: 18px;
}
.header__list li a {
    text-decoration: none;
    color: var(--black-color);  
}
.search__icon,
.login__click,
.cart__icon{
    color: var(--black-color);
    cursor: pointer;
}

.login__click {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__login a{
    text-decoration: none;
    font-size: 18px;
    margin-top: 2px;
}
.signin__icon{
    padding: 10px;
    transform:translateY(-2px) ;
}
.login__text:hover{
    color: var(--white-color);
    transition: .2s;
}
/* header card */
.header__cart{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: .5s;
}

.cart__icon{
    font-size: 20px;
    color: var(--black-color);
    transform: translate(13px , 10px);
    transition: .3s;
}
.header__cart:hover{
    background-color: var(--secord-color);
}
.header__cart i:hover{
    transition: .2s;
    color: var(--white-color);
}
/* sub_list */
.sub__list{
    color:  var(--white-color);
    list-style: none;
    position: absolute;
    display: none;
    top: 50%;
    background-color: var(--white-color);
    box-shadow: 4px 4px 13px -2px var(--primary-color) ;
    width: 35%;
    outline: none;
    animation: scroll .5s ;
}
.navar__item:hover .sub__list{
    display: block;
    position: absolute;
    top: 200%;
}
.navar__item::before{
    content: "";
    position: absolute;
    width: 10%;
    height: 30px;
    top: 25px;
}
.box{
    border-top: 1px solid var(--text-color) ;
}
.list__menu{
    padding: 5px 10px;
    transition: .7s;
}
.list__menu:hover{
    background-color: var(--secord-color);
}

.menu__title{
    color: var(--black-color);
    font-size: 13px;
    padding-left: 10px;
}

.menu__title span:hover{
    color: var(--white-color);
}

/* banner */

.main__baner{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slide{
    width: 500%;
    height: 600px;
    display: flex;
}

.slide input{
    display: none;
}

.slide__img{
    width: 20%;
    transition: 1s;
}

.slide__img img {
    width: 100%;
    height: 100%;
}

.nav__manual{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
}

.manual__btn{
    border: 2px solid var(--black-color);
    padding: 5px;
    border-radius: 50%;
    transition: 1s;
} 
/* iconbox */

.full__color{
    /* background-color: var(--text-color); */
    margin: 0;
}
.iconbox{
    padding: 40px 0 ;
}

.iconbox__about{
    text-align: center;
}
.iconbox__icon{
    color: var(--primary-color);
    margin:  0 auto;
}
.iconbox__icon i{
    font-size: 35px;
}
.icon__header h2 {
    color: var(--primary-color);    
    font-weight: 500;
    padding-top: 15px;
}

.icon__header p{
    color: var(--black-color);
    font-weight: 600;
    padding-top: -10px;
}
.iconbox__content{
    font-size: 14px;
    padding-top: 5px;
}

/* product */
/* ------------------------------------------------------------------- */

.product__link{
    width: 100%;
    height: var(--product__link-height);
    display: flex;
    align-items: center;
    margin: 0 20px;
    position: absolute;
    margin-top: -150px;
    
}

.product__title a:hover{
    color: var(--primary-color);
    transition: .5s;
}

.product__title a{
    color: var(--black-color);
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}
.product__link::after{
    content: "PRODUCT   ";
    position: relative;
    font-size: 90px;
    font-weight: 700;
    z-index: -1;
    left: -153px;
    top: 5px;
    color: rgb(0, 0, 0 ,0.05);
}

/* product item */
.pd{
    padding: 0 10px;
}
.product__container {
    width: 100%;
    height: var(--product__container-height);
    margin-top: var(--product__link-height);
    transition: .3s;
}

.product__item {
    width: 100%;
    height: 430px;
}
.product__item:hover{
    /* transition: .3s; */
    border: 1px solid var(--primary-color);
}

.item__thubnail{
    width: 100%;
    height: 260px;
    padding: 10px;
}
.item__label{
    background-color: var(--primary-color);
    width: 60px;
    color: var(--white-color);
    font-size: 13px;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    margin: -10px 0 0 -10px;
}
.item__group{
    width: 100%;
    height: 100%;
}
.item__group a{
    width: 100%;
    height: 250px;
}
.item__group img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
/* item_content */
.item__content{
    padding: 15px 10px;
}

.item__name{
    padding-bottom: 35px;
    
}
.item__name a{
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    color: #5b5b5b;
    transition: .4s;
}

.item__name a:hover{
    color: var(--primary-color)
}
ul.product__page
.item__voting{
    font-size: 12px;
    margin-bottom: 5px;
}

.item__price{
    font-weight: 500;
    font-size: 15px;
    cursor: text;
}

/* container__btn */
/* .active{
 
}*/
.product__btn {
    margin-top: 15px;
}
.product__page{
    display: flex;
    justify-content: center;
}
.page__item {
    width: 50px;
    height: 50px;
    list-style: none;
    background-color: #e4e4e4;
    border-radius: 50%;
    margin: 0 5px;
    padding: 0px 20px;
    transition: .5s;
    font-size: 15px;
}
.page__item:hover{
    background-color: var(--primary-color);
    border: 1px solid #e4e4e4;
    color: var(--white-color);
    outline: none;
}
.page__item a{
    text-decoration: none;
    color: var(--black-color);
    line-height: 50px;
    transition: .5s;
}
.fa-solid, .fas {
    font-weight: 900;
    line-height: 50px;
}

/* sp__header */
.ps__container{
    position: absolute;
}

.hiden {
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    justify-content: left;
    align-items: center;
}

.sp__link{
    width: 100%;
    height: var(--product__link-height);
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.sp__title a:hover{
    color: var(--primary-color);
    transition: .5s;
}

.sp__title a{
    color: var(--black-color);
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}
.sp__link::after{
    content: "HOT";
    position: relative;
    font-size: 80px;
    font-weight: 700;
    z-index: -1;
    left: -153px;
    top: 5px;
    color: rgb(0, 0, 0 ,0.05);
}

.sp__items{
    height: 430px;
    width: 50%;
    display: flex;
    margin-top: 50px;
}
.sp__item{
    transition: .3s;
    height: 400px;
    position: relative;
}
.sp__item:hover{
    outline: none;
    border: none;
    border: var(--primary-color) solid 1px;

}
.sp__thubnail {
    height: 260px;
    padding: 20px;
    width: 100%;
    position: absolute;
    top: -5%;
    z-index: -1;
}
.sp__thubnail img{
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.sp__detail{
    padding: 10px 0 20px 0 ;
}
.sp__content {
    padding: 0 20px;
    position: relative;
    top: 55%;
}
.sp__detail a{
    text-decoration: none;
    color:#5b5b5b;
    font-size: 17px;
    font-weight: 700;
    transition: .3s;
}
.sp__detail a:hover{
    color: var(--primary-color);
}
.sp__voting {
    margin: 15px 0 5px 0;
}
.sp__content span{
    font-size: 15px;
    font-weight: 700;
    color: #5b5b5b;
    padding: 20px 0 ;
}
.absoluct{
    position: absolute;
}
/*  */
.sp__btn{
    float: right;
    position: relative;
    right: 0;
    top: 0;
    left: 90%;
}
.sp__item-flex{
    display: flex;
    flex-shrink: 0;
    width: 198%;
}

.btn-left,.btn-right{
    border: none;
    font-size: 10px;
    width: 40px;
    height: 50px;
    transition: .3s;
}
.btn-left:hover,.btn-right:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* hot  */
.ps__container{
    position: absolute;
}

.hiden {
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    justify-content: left;
    align-items: center;
}

.hot__link{
    width: 100%;
    height: var(--product__link-height);
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.hot__title a:hover{
    color: var(--primary-color);
    transition: .5s;
}

.hot__title a{
    color: var(--black-color);
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}
.hot__link::after{
    content: "HOT";
    position: relative;
    font-size: 80px;
    font-weight: 700;
    z-index: -1;
    left: -153px;
    top: 5px;
    color: rgb(0, 0, 0 ,0.05);
}

.hot__items{
    height: 430px;
    width: 50%;
    display: flex;
    margin-top: 50px;
}
.hot__item{
    transition: .3s;
    height: 400px;
    position: relative;
}
.hot__item:hover{
    outline: none;
    border: none;
    border: var(--primary-color) solid 1px;

}
.hot__thubnail {
    height: 260px;
    padding: 20px;
    width: 100%;
    position: absolute;
    top: -5%;
    z-index: -1;
}
.hot__thubnail img{
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.hot__detail{
    padding: 10px 0 20px 0 ;
}
.hot__content {
    padding: 0 20px;
    position: relative;
    top: 55%;
}
.hot__detail a{
    text-decoration: none;
    color:#5b5b5b;
    font-size: 17px;
    font-weight: 700;
    transition: .3s;
}
.hot__detail a:hover{
    color: var(--primary-color);
}
.hot__voting {
    margin: 15px 0 5px 0;
}
.hot__content span{
    font-size: 15px;
    font-weight: 700;
    color: #5b5b5b;
    padding: 20px 0 ;
}
.absoluct{
    position: absolute;
}
/*  */
.hot__btn{
    float: right;
    position: relative;
    right: 0;
    top: 0;
    left: 90%;
}
.hot__item-flex{
    display: flex;
    flex-shrink: 0;
    width: 198%;
}

.btn-left,.btn-right{
    border: none;
    font-size: 10px;
    width: 40px;
    height: 50px;
    transition: .3s;
}
.btn-left:hover,.btn-right:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}